<!-- Start: Head Section -->
<section class="section section__head">
    <nav class="head__menu">
        <li><a href="#">WWWeb</a></li>
        <li><a href="#">design</a></li>
        <li><a href="#">and</a></li>
        <li><a href="#">development</a></li>
    </nav><!-- /.head__menu -->
    <div class="head__wrap">
        <figure class="head__logo">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 316.3 84" style="enable-background:new 0 0 316.3 84;" xml:space="preserve">
            <style type="text/css">
                .st0{clip-path:url(#XMLID_41_);}
                .st1{clip-path:url(#XMLID_42_);}
                .st2{clip-path:url(#XMLID_43_);}
                .st3{clip-path:url(#XMLID_45_);}
                .st4{clip-path:url(#XMLID_46_);}
            </style>
            <g id="XMLID_86_">
                <g id="XMLID_120_" style="&#10;    fill: #999;&#10;">
                    <path id="XMLID_121_" d="M10.3,52"/>
                </g>
                <g id="XMLID_118_">
                    <path id="XMLID_119_" d="M304.2,52"/>
                </g>
                <g id="XMLID_112_">
                    <defs>
                        <path id="XMLID_116_" d="M79.1,55.1v-0.8l0,0V52c0,7.6-6.2,13.7-13.7,13.7c-7.6,0-13.7-6.2-13.7-13.7v0V28.7h-9.3V52h0     c0,7.6-6.2,13.7-13.7,13.7S15,59.6,15,52V28.7H5.7V52c0,12.7,10.3,23,23,23c7.5,0,14.2-3.6,18.4-9.2c4.2,5.6,10.9,9.2,18.4,9.2     c6.9,0,13-3,17.2-7.8C80.4,63.7,79.1,59.5,79.1,55.1z"/>
                    </defs>
                    <use xlink:href="#XMLID_116_" style="overflow:visible;"/>
                    <clipPath id="XMLID_41_">
                        <use xlink:href="#XMLID_116_" style="overflow:visible;"/>
                    </clipPath>
                    <rect id="XMLID_117_" x="-18.6" y="16.7" class="st0" width="351.7" height="67.2"/>
                </g>
                <g id="XMLID_100_">
                    <defs>
                        <path id="XMLID_109_" d="M152.6,55.1v-0.8l0,0V52c0,7.6-6.2,13.7-13.7,13.7c-7.6,0-13.7-6.2-13.7-13.7l0,0h0V28.7h-9.3V52     c0,7.6-6.2,13.7-13.7,13.7c-7.6,0-13.7-6.2-13.7-13.7V28.7h-9.3V52c0,12.7,10.3,23,23,23c7.5,0,14.2-3.6,18.4-9.2     c4.2,5.6,10.9,9.2,18.4,9.2c6.9,0,13-3,17.2-7.8C153.9,63.7,152.6,59.5,152.6,55.1z"/>
                    </defs>
                    <use xlink:href="#XMLID_109_" style="overflow:visible;"/>
                    <clipPath id="XMLID_42_">
                        <use xlink:href="#XMLID_109_" style="overflow:visible;"/>
                    </clipPath>
                    <rect id="XMLID_111_" x="-18.6" y="16.7" class="st1" width="351.7" height="67.2"/>
                </g>
                <g id="XMLID_97_">
                    <defs>
                        <path id="XMLID_98_" d="M226.1,55.1v-0.8l0,0V52c0,7.6-6.2,13.7-13.7,13.7c-7.6,0-13.7-6.2-13.7-13.7v0V28.7h-9.3V52h0v0h0v0     c0,7.6-6.2,13.7-13.7,13.7c-7.6,0-13.7-6.2-13.7-13.7V28.7h-9.3V52c0,12.7,10.3,23,23,23c7.5,0,14.2-3.6,18.4-9.2     c4.2,5.6,10.9,9.2,18.4,9.2c6.9,0,13-3,17.2-7.8C227.4,63.7,226.1,59.5,226.1,55.1z"/>
                    </defs>
                    <use xlink:href="#XMLID_98_" style="overflow:visible;"/>
                    <clipPath id="XMLID_43_">
                        <use xlink:href="#XMLID_98_" style="overflow:visible;"/>
                    </clipPath>
                    <rect id="XMLID_99_" x="-18.6" y="16.7" class="st2" width="351.7" height="67.2"/>
                </g>
                <g id="XMLID_95_">
                    <defs>
                        <path id="XMLID_96_" d="M79.1,55.1v-0.8l0,0V52c0,7.6-6.2,13.7-13.7,13.7c-7.6,0-13.7-6.2-13.7-13.7v0V28.7h-9.3V52h0     c0,7.6-6.2,13.7-13.7,13.7S15,59.6,15,52V28.7H5.7V52c0,12.7,10.3,23,23,23c7.5,0,14.2-3.6,18.4-9.2c4.2,5.6,10.9,9.2,18.4,9.2     c6.9,0,13-3,17.2-7.8C80.4,63.7,79.1,59.5,79.1,55.1z"/>
                    </defs>
                    <use xlink:href="#XMLID_96_" style="overflow:visible;"/>
                    <clipPath id="XMLID_44_">
                        <use xlink:href="#XMLID_96_" style="overflow:visible;"/>
                    </clipPath>
                </g>
                <g id="XMLID_90_">
                    <defs>
                        <path id="XMLID_91_" d="M293.3,29c-5.1,0-9.9,1.7-13.7,4.6V18.3h-9.3v15.3v2.1v12.9c0,0-0.1,7.4,0.9,10.2     c2.7,9.7,11.6,16.2,22.1,16.2c12.7,0,23-10.3,23-23C316.3,39.3,306,29,293.3,29z M297.4,65.1c-1.3,0.4-2.7,0.6-4.1,0.6     c-0.4,0-0.9,0-1.3-0.1c-0.1,0-0.2,0-0.3,0c-0.4,0-0.7-0.1-1-0.2c-0.1,0-0.2,0-0.2,0c-0.4-0.1-0.8-0.2-1.1-0.3     c-0.1,0-0.3-0.1-0.4-0.1c-0.2-0.1-0.4-0.2-0.7-0.2c-0.2-0.1-0.4-0.1-0.5-0.2c-0.1-0.1-0.3-0.1-0.4-0.2c-0.4-0.2-0.9-0.5-1.3-0.7     c0,0,0,0-0.1,0c-2.2-1.4-4-3.4-5.1-5.7c-0.5-0.9-0.5-1.2-0.5-1.3c-0.3-0.7-0.5-1.4-0.6-2.2c0-0.1,0-0.2,0-0.3     c0-0.3-0.1-0.6-0.1-0.9c0-0.4-0.1-0.8-0.1-1.2c0,0,0,0,0,0c0-7.6,6.1-13.7,13.7-13.7c7.6,0,13.7,6.1,13.7,13.7     C307,58.2,303,63.4,297.4,65.1z"/>
                    </defs>
                    <use xlink:href="#XMLID_91_" style="overflow:visible;"/>
                    <clipPath id="XMLID_45_">
                        <use xlink:href="#XMLID_91_" style="overflow:visible;"/>
                    </clipPath>
                    <rect id="XMLID_94_" x="-106.7" y="16.7" class="st3" width="461.1" height="67.2"/>
                </g>
                <g id="XMLID_87_">
                    <defs>
                        <path id="XMLID_88_" d="M249.2,65.7c-7.6,0.1-13.8-6-13.9-13.6l0,0c-0.1-7.6,6-13.8,13.6-13.9c2.2,0,4.4,0.5,6.3,1.4     c1.5,0.7,2.8,1.7,3.9,2.9c1.2,1.3,2.2,2.9,2.9,4.6L249,47.4l0.1,9.3l19.4-0.2l-0.2-16.2c-1.9-3.5-4.2-5.6-5.7-6.8     c-3.9-2.8-8.6-4.5-13.8-4.4c-6.8,0.1-13,3.1-17.1,7.9c-3.6,4.1-5.7,9.5-5.6,15.3l0,0c0.1,12.7,10.6,22.9,23.3,22.8     c4.2,0,8-1.2,11.4-3.2c-1.9-2.4-3.5-5.1-4.7-8C254,65,251.7,65.7,249.2,65.7z"/>
                    </defs>
                    <use xlink:href="#XMLID_88_" style="overflow:visible;"/>
                    <clipPath id="XMLID_46_">
                        <use xlink:href="#XMLID_88_" style="overflow:visible;"/>
                    </clipPath>
                    <rect id="XMLID_89_" x="-106" y="16.7" class="st4" width="461.1" height="67.2"/>
                </g>
            </g>
            </svg>
        </figure><!-- /.head__logo -->

        <h1 class="head__title">Websites Just As You Imagine Them</h1>

    </div><!-- /.head__wrap -->
    <div class="head__shape--bottom-right"></div>

</section>
<!-- End: Head Section -->