<section class="section section__blog">
    <h1 class="section__blog__title">BLOG</h1>
    <h2 class="section__blog__subtitle">dive into an amazing<br>world of technology</h2>

    <div class="section__blog__boxes">
        <div class="section__blog__purpleBox-left"></div>
        <div class="section__blog__redBox-left"></div>
        <div class="section__blog__purpleBox-top"></div>
        <div class="section__blog__redBox-right"></div>
        <div class="section__blog__doubleBox">
            <div class="section__blog__yellowBox">
                <h2 class="section__blog__subtitle section__blog__subtitle-blog">see our blog</h2>
            </div>
            <div class="section__blog__purpleBox-right"></div>
        </div>
        <div class="section__blog__purpleBox-rightBottom"></div>
    </div>
    <div class="section__blog__redCover"></div> 
</section>