<!-- Start: Our Work Section -->
<section class="section section__our-work">

    <h1 class="our-work__title">Our Work</h1>

    <div class="our-work__projects">

        <div class="project__info-wrap">
            <div class="project__info active" data-id="1">
                <h3 class="project__title">Project Title</h3>
                <p class="project__description">
                    Lorem ipsum dolor
                    sit amet, duo et eius
                    partem corrumpit.
                    Quot homero sed no,
                    vis ne legere prompta
                    bonorum.
                    Eum wisi vitae no.
                </p><!-- .project__description -->
                <a href="#" class="project__cta">View more about this project</a>
            </div><!-- /.project__info -->
            <div class="project__info" data-id="2">
                <h3 class="project__title">Project Title</h3>
                <p class="project__description">
                    Lorem ipsum dolor
                    sit amet, duo et eius
                    partem corrumpit.
                    Quot homero sed no,
                    vis ne legere prompta
                    bonorum.
                    Eum wisi vitae no.
                </p><!-- .project__description -->
                <a href="#" class="project__cta">View more about this project</a>
            </div><!-- /.project__info -->
            <div class="project__info" data-id="3">
                <h3 class="project__title">Project Title</h3>
                <p class="project__description">
                    Lorem ipsum dolor
                    sit amet, duo et eius
                    partem corrumpit.
                    Quot homero sed no,
                    vis ne legere prompta
                    bonorum.
                    Eum wisi vitae no.
                </p><!-- .project__description -->
                <a href="#" class="project__cta">View more about this project</a>
            </div><!-- /.project__info -->
        </div><!-- /.project__info-wrap -->

        <div class="project__slider">
            <figure class="project__slide project__slide--1 active" data-id="1"></figure>
            <figure class="project__slide project__slide--2" data-id="2"></figure>
            <figure class="project__slide project__slide--3" data-id="3"></figure>
        </div><!-- /.project__slider -->
    </div><!-- /.our-work__project -->

</section>
<!-- End: Our Work Section -->