.section__our-work {
    margin: 300px 0 200px 0;

    @include respond-to('medium') {
           margin: 150px 0 100px 0;
        }
}

.our-work {
    &__title {
        position: relative;
        z-index: 15;
        font-family: $font-headings;
        font-size: 6vw;
        color: $brand-color;
        margin-left: 50px;
        text-transform: uppercase;
        margin-bottom: -60px;
    }

    &__projects {
        display: flex;
    }
}

.project {
    &__slider {
        width: 70%;
        position: relative ;

        @include respond-to('medium') {
            width: 30%;
        }
    }

    &__slide {
        position: relative;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 210px;
        transform: rotate(-7.9deg) skew(-7.9deg);
        overflow: hidden;
        opacity: 0.5;
        right: -20px;
        left: 0;
        transition: 0.2s ease-in-out;
        cursor: pointer;

        @include respond-to('medium') {
            height: 150px;
        }

        &.hidden {
            display: none;
        }

        &:hover,
        &:focus,
        &.active {
            display: block;
            opacity: 1;
        }

        &:before {
            content: "";
            position: absolute;
            z-index: 3;
            top: -50%;
            right: -20px;
            left: 0;
            bottom: -50%;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            transform: rotate(7.9deg) skew(7.9deg);
        }

        &--1 {
            &:before {
                background-image: url(../images/project.jpg);
            }
        }

        &--2 {
            &:before {
                background-image: url(../images/project.jpg);
            }
        }

        &--3 {
            &:before {
                background-image: url(../images/project.jpg);
            }
        }

         &--4 {
            &:before {
                background-image: url(../images/project.jpg);
            }
        }

    }

    &__info-wrap {
        position: relative;
        width: 30%;
        display:flex;
        flex-direction: column;
        justify-content: space-around;

        &:before {
            content: "";
            position: absolute;
            z-index: 3;
            top: 2.6vw;
            right: -0.9vw;
            bottom: 0;
            left: -20px;
            transform: rotate(7.9deg) skew(7.9deg);
            background: #ccccff;
        }

        @include respond-to('medium') {
            width: 80%;
            top: -3.4vw;
            right: 0vw;
            bottom: -5vw;
        }
    }

    &__info {
        display: none;
        z-index: 20;

        &.active {
            display: block;
        }
    }

    &__title {
        font-family: $font-headings;
        text-transform: uppercase;
        font-size: 37px;
        color: $primary-color;
        padding: 0 20px 0 50px;

        @include respond-to('medium') {
            font-size: 30px;
            padding: 0 10px 0 25px;
        }
    }

    &__description {
        font-size: 23px;
        padding: 0 20px 0 50px;

        @include respond-to('medium') {
            font-size: 15px;
            padding: 0 10px 0 25px;
        }
    }

    &__cta {
        display: block;
        width: 100%;
        position: absolute;
        bottom: 0;
        font-size: 23px;
        color: #fff;
        text-align: center;

        @include respond-to('medium') {
            font-size: 14px;
        }

        &:visited {
            color: #fff;
        }


        &:after {
            content: "";
            position: absolute;
            z-index: -1;
            top: -8vw;
            right: -1vw;
            bottom: -7.1vw;
            left: -55px;
            transform: rotate(-7.9deg) skew(-7.9deg);
            background: linear-gradient(45deg, #ec7559 0%, #ec4c59 100%);
        }
    }
}